data/limites/ana/*.cpg
data/limites/ana/*.dbf
data/limites/ana/*.rar
data/limites/ana/*.sbn
data/limites/ana/*.sbx
data/limites/ana/*.prj
data/limites/ana/*.shp
data/limites/ana/*.shx
data/limites/*.geojson
data/ibge/*.cpg
data/ibge/*.shp
data/ibge/*.shx
data/ibge/*.prj
data/ibge/*.dbf
data/ibge/*.rds
results/definicoes/*.rds
results/definicoes/*.geojson
results/figures/*.png
results/shapefiles/*.dbf
results/shapefiles/*.prj
results/shapefiles/*.shp
results/shapefiles/*.shx
results/shapefiles/*.prj
results/shapefiles/*.shx
results/shapefiles/*.shp
results/textura/*.tif

